<div class="card" style="width: 30%; margin: 1em;">
    <h4 class="card-header rhoar">HTTP API</h4>
    <div class="card-body" style="padding: .1em;">
        <p class="card-text">Mission to expose a REST Greeting endpoint using SpringBoot and Apache Tomcat in embedded mode</p>
        <a href="https://github.com/snowdrop/spring-boot-http-secured-booster" class="card-link">Get the code</a>
        <a href="#" class="card-link">Documentation</a>
    </div>
</div>
<div class="card" style="width: 30%; margin: 1em;">
    <h4 class="card-header rhoar">Secured HTTP API</h4>
    <div class="card-body" style="padding: .1em;">
        <p class="card-text">Mission to expose a REST Greeting endpoint using SpringBoot & Secured by Red Hat SSO</p>
        <a href="https://github.com/snowdrop/spring-boot-http-secured-booster" class="card-link">Get the code</a>
        <a href="#" class="card-link">Documentation</a>
    </div>
</div>
<div class="card" style="width: 30%; margin: 1em;">
    <h4 class="card-header rhoar">JPA</h4>
    <div class="card-body" style="padding: .1em;">
        <p class="card-text">Mission to play with Spring Boot & JPA</p>
        <a href="https://github.com/snowdrop/spring-boot-crud-booster" class="card-link">Get the code</a>
        <a href="#" class="card-link">Documentation</a>
    </div>
</div>
<div class="card" style="width: 30%; margin: 1em;">
    <h4 class="card-header rhoar">Externalized Configuration</h4>
    <div class="card-body" style="padding: .1em;">
        <p class="card-text">Quickstart to expose a REST Greeting endpoint using Spring Boot where the message is
            defined as a Kubernetes ConfigMap property</p>
        <a href="https://github.com/snowdrop/spring-boot-configmap-booster" class="card-link">Get the code</a>
        <a href="#" class="card-link">Documentation</a>
    </div>
</div>
<div class="card" style="width: 30%; margin: 1em;">
    <h4 class="card-header rhoar">Health Check</h4>
    <div class="card-body" style="padding: .1em;">
        <p class="card-text">Quickstart to demonstrate OpenShift health probes working with Spring Boot Actuator</p>
        <a href="https://github.com/snowdrop/spring-boot-health-check-booster" class="card-link">Get the code</a>
        <a href="#" class="card-link">Documentation</a>
    </div>
</div>
<div class="card" style="width: 30%; margin: 1em;">
    <h4 class="card-header rhoar">Circuit Breaker</h4>
    <div class="card-body" style="padding: .1em;">
        <p class="card-text">Service implementing Hystrix Circuit Breaker</p>
        <a href="https://github.com/snowdrop/spring-boot-circuit-breaker-booster" class="card-link">Get the code</a>
        <a href="#" class="card-link">Documentation</a>
    </div>
</div>
<div class="card" style="width: 30%; margin: 1em;">
    <h4 class="card-header">Deploy as a WAR</h4>
    <div class="card-body" style="padding: .1em;">
        <p class="card-text">WAR Spring Boot Application with JSP page and using JSTL</p>
        <a href="{{ site.url }}{{ site.baseurl }}/guides/war-jsp" class="card-link">Get the code</a>
        <a href="#" class="card-link">Documentation</a>
    </div>
</div>
<div class="card" style="width: 30%; margin: 1em;">
    <h4 class="card-header">Archetype</h4>
    <div class="card-body" style="padding: .1em;">
        <p class="card-text">Blank Spring Boot mission</p>
        <a href="https://github.com/snowdrop/spring-boot-blank-booster" class="card-link">Get the code</a>
        <a href="#" class="card-link">Documentation</a>
    </div>
</div>