<div class="card">
    <div class="card-header rhoar">HTTP API</div>
    <div class="card-body">
        <p class="card-text">Mission to expose a REST Greeting endpoint using SpringBoot and Apache Tomcat in embedded mode</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-http-booster" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="https://appdev.openshift.io/docs/spring-boot-runtime.html#mission-http-api-spring-boot-tomcat" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header rhoar">Secured HTTP API</div>
    <div class="card-body">
        <p class="card-text">Mission to expose a REST Greeting endpoint using SpringBoot & Secured by Red Hat SSO</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-http-secured-booster" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="https://appdev.openshift.io/docs/spring-boot-runtime.html#mission-secured-spring-boot" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header rhoar">JPA</div>
    <div class="card-body">
        <p class="card-text">Mission to play with Spring Boot & JPA</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-crud-booster" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="https://appdev.openshift.io/docs/spring-boot-runtime.html#mission-crud-spring-boot-tomcat" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header rhoar">Externalized Configuration</div>
    <div class="card-body">
        <p class="card-text">Quickstart to expose a REST Greeting endpoint using Spring Boot where the message is
            defined as a Kubernetes ConfigMap property</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-configmap-booster" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="https://appdev.openshift.io/docs/spring-boot-runtime.html#mission-configmap-spring-boot-tomcat" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header rhoar">Health Check</div>
    <div class="card-body">
        <p class="card-text">Quickstart to demonstrate OpenShift health probes working with Spring Boot Actuator</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-health-check-booster" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="https://appdev.openshift.io/docs/spring-boot-runtime.html#mission-health-check-spring-boot-tomcat" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header rhoar">Circuit Breaker</div>
    <div class="card-body">
        <p class="card-text">Service implementing Hystrix Circuit Breaker</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-circuit-breaker-booster" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="https://appdev.openshift.io/docs/spring-boot-runtime.html#mission-circuit-breaker-spring-boot-tomcat" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header">Deploy as a WAR</div>
    <div class="card-body">
        <p class="card-text">WAR Spring Boot Application with JSP page and using JSTL</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-mvc-jsp" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="{{ site.url }}{{ site.baseurl }}/guides/war-jsp" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header">Configure Tomcat logging</div>
    <div class="card-body">
        <p class="card-text">An example to demonstrate how to send Tomcat's logging information to OpenShift's console</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-tomcat-logging-booster" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="{{ site.url }}{{ site.baseurl }}/guides/tomcat-logging" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header">Archetype</div>
    <div class="card-body">
        <p class="card-text">Blank Spring Boot mission</p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/snowdrop/spring-boot-blank-booster" class="card-link">
            <i class="fa fa-github" aria-hidden="true"></i>Get the code</a>
        <a href="#" class="card-link">
            <i class="fa fa-book" aria-hidden="true"></i>Documentation
        </a>
    </div>
</div>