<tr>
    <td>
        <a href="{{ site.url }}{{ site.baseurl }}/guides/http-api">HTTP Api</a>
        <p>Mission to expose a REST Greeting endpoint using SpringBoot and Apache Tomcat in embedded mode</p>
    </td>
    <td>
        <a href="https://github.com/snowdrop/spring-boot-http-secured-booster">Secured HTTP Api</a>
        <p>Mission to expose a REST Greeting endpoint using SpringBoot & Secured by Red Hat SSO</p>
    </td>
    <td>
        <a href="https://github.com/snowdrop/spring-boot-crud-booster">JPA</a>
        <p>Mission to play with Spring Boot & JPA</p>
    </td>
</tr>
<tr>
    <td>
        <a href="https://github.com/snowdrop/spring-boot-crud-booster">JPA</a>
        <p>Mission to play with Spring Boot & JPA</p>
    </td>
    <td>
        <a href="https://github.com/snowdrop/spring-boot-configmap-booster">Config Map</a>
        <p>Quickstart to expose a REST Greeting endpoint using Spring Boot where the message is
            defined
            as a Kubernetes Config Map property</p>
    </td>
    <td>
        <a href="https://github.com/snowdrop/spring-boot-health-check-booster">Health Check</a>
        <p>Quickstart to demonstrate OpenShift health probes working with Spring Boot Actuator</p>
    </td>
</tr>
<tr>
    <td>
        <a href="https://github.com/snowdrop/spring-boot-circuit-breaker-booster">Circuit
            Breaker</a>
        <p>Service implementing Hystrix Circuit Breaker</p>
    </td>
    <td>
        <a href="https://github.com/snowdrop/spring-boot-mvc-jsp">WAR</a>
        <p>WAR Spring Boot Application with JSP page and using JSTL</p>
    </td>
    <td>
        <a href="https://github.com/snowdrop/spring-boot-blank-booster">Blank</a>
        <p>Blank Spring Boot mission</p>
    </td>
</tr>