<div class="header clearfix">
    <nav>
        <ul class="nav navbar-light nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link {{ page.menu-index }}" href="{{ site.url }}{{ site.baseurl }}/index.html">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page.menu-doc }}" href="{{ site.url }}{{ site.baseurl }}/documentation.html">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page.menu-guides }}" href="{{ site.url }}{{ site.baseurl }}/search-guides">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page.menu-about }}" href="{{ site.url }}{{ site.baseurl }}/about">About</a>
            </li>
        </ul>
    </nav>
    <img src="{{ site.url }}{{ site.baseurl }}/assets/img/snowdrop-logo.png" width="200" height="100"/>
</div>