<div class="header clearfix">
    <nav>
        <ul class="nav navbar-default nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link {{ page.menu-index }}" href="{{ site.github.url }}/index.html">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page.menu-guides }}" href="{{ site.github.url }}/search-guides">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page.menu-about }}" href="{{ site.github.url }}/about">About</a>
            </li>
        </ul>
    </nav>
    <img src="{{ "assets/img/snowdrop-logo.png" | relative_url }}" width="200" height="100"/>
</div>