<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ "assets/js/jquery-3.2.1.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/tether-1.4.0.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/bootstrap.min.js" | relative_url }}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{{ "assets/js/vendor/holder.min.js" | relative_url }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ "assets/js/ie10-viewport-bug-workaround.js" | relative_url }}"></script>