// Custom variables for Snowdrop site
$hero-container-width: 60rem;


/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: $hero-container-width;
  }
}

.nav-pills .nav-link.active {
  background-color: $snowdrop-color;
}

a {
  color: $snowdrop-color;
}

.rhoar:before {
  content: "RHOAR";
  border-radius: 3px;
  padding: 5px;
  margin-right: .3em;
  color: $white;
  text-shadow: 1px 1px 2px $black;
  box-shadow: 1px 2px 2px $shadow-complementary-color;
  background-color: $snowdrop-complementary-color;
  text-decoration: none;
}

.btn-success {
  background-color: $snowdrop-color;
}