// Custom variables for Snowdrop site
$hero-container-width: 60rem;


/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: $hero-container-width;
  }
}

.nav-pills .nav-link.active {
  background-color: $snowdrop-color;
}

a {
  color: $snowdrop-color;
}

.rhoar:before {
  content: "RHOAR";
  border-radius: 3px;
  padding: 1px;
  margin-right: 5px;
  color: $white;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
  background-color: $snowdrop-complementary-color;
  text-decoration: none;
  font-size: x-small;
  vertical-align: super;
}

.btn-success {
  background-color: $snowdrop-color;
}

.card {
  width: 30%;
  box-shadow: 2px 2px 3px $white-shadow;
}

.card-body {
  padding: .2em;
}

.card-header {
  font-weight: bold;
  padding: .3em;
  color: $snowdrop-complementary-color;
}

.card-footer {
  margin-top: 1em;
  padding: .2em;
}

i.fa {
  margin-right: .3em;
}
