// Custom variables for Snowdrop site
$hero-container-width: 60rem;


/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: $hero-container-width;
  }
}

.nav-pills .nav-link.active {
  background-color: $snowdrop-color;
}

a {
  color: $snowdrop-color;
}

.btn-success {
  background-color: $snowdrop-color;
}