<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootsrap-3.3.4.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/stream.css" media="screen" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.13.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="js/filter.min.js" type="text/javascript"></script>
    <script src="js/auto.js" type="text/javascript"></script>
    <script src="../data/guides.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <h1 class="title">Guides</h1>
    <div class="col-md-12">
        Whatever you're building, these guides are designed to get you productive as quickly as possible – using the
        latest Spring project releases and techniques as recommended by the Spring team.
        Have a suggestion for a new guide? Let us know at @snowdrop.
    </div>
</div>
<hr/>
<div class="container">
    <div class="sidebar col-md-3">
        <div>
            <h4 class='col-md-6'>Result (<span id="total_guides">0</span>)</h4>
        </div>
        <div>
            <label class="sr-only" for="searchbox">Search</label>
            <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;" fjs-search>
            <span class="glyphicon glyphicon-search search-icon"></span>
        </div>
        <br>
        <div class="well">
            <fieldset id="genre_criteria">
                <legend>Category</legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="All" id="all_genre">
                        <span>All</span>
                    </label>
                </div>
                <div id="genres">
                    <div class="checkbox" fjs-criteria="field=category,ele=#genres input:checkbox">
                        <label>
                            <input type="checkbox" value="microservice">
                            <span>Microservice</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="jpa">
                            <span>JPA</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="sso">
                            <span>SSO</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="circuitbreaker" checked="false">
                            <span>Circuit Breaker</span>
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-9">
        <div class="guides content row" id="guides" fjs-items="template=#guide-template"></div>
    </div>
</div>

<script id="guide-template" type="text/html">
    <div class="col-md-4 guide">
        <div class="thumbnail">
            <div class="caption">
                <h4><%= _fid %>. <%= name %></h4>
                <div class="outline">
                    <%= description %>
                </div>
                <div class="detail">
                    <dl>
                        <dt>Guide</dt>
                        <dd><%= name %></dd>
                        <dt>Reference</dt>
                        <dd><%= reference %>
                        <dt>Description</dt>
                        <dd><%= description %>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="genre_template" type="text/html">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="<%= genre %>"> <%= genre %>
        </label>
    </div>
</script>
</body>
</html>
