<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}
<body>
<div class="container">
  {% include nav-bar.html %}
  {{ content }}
  <hr/>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-12">
      <input type="search" id="search" value="" class="form-control"
             placeholder="Search using Fuzzy searching">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-borderless" id="table">
        <tbody>
        <tr>
          <td>
            <a href="https://github.com/snowdrop/spring-boot-http-booster">HTTP Api</a>
            <p>Mission to expose a REST Greeting endpoint using SpringBoot and Apache Tomcat in embedded
              mode</p>
          </td>
          <td>
            <a href="https://github.com/snowdrop/spring-boot-http-secured-booster">Secured HTTP Api</a>
            <p>Mission to expose a REST Greeting endpoint using SpringBoot & Secured by Red Hat SSO</p>
          </td>
          <td>
            <a href="https://github.com/snowdrop/spring-boot-crud-booster">JPA</a>
            <p>Mission to play with Spring Boot & JPA</p>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/snowdrop/spring-boot-crud-booster">JPA</a>
            <p>Mission to play with Spring Boot & JPA</p>
          </td>
          <td>
            <a href="https://github.com/snowdrop/spring-boot-configmap-booster">Config Map</a>
            <p>Quickstart to expose a REST Greeting endpoint using Spring Boot where the message is
              defined
              as a Kubernetes Config Map property</p>
          </td>
          <td>
            <a href="https://github.com/snowdrop/spring-boot-health-check-booster">Health Check</a>
            <p>Quickstart to demonstrate OpenShift health probes working with Spring Boot Actuator</p>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/snowdrop/spring-boot-circuit-breaker-booster">Circuit
              Breaker</a>
            <p>Service implementing Hystrix Circuit Breaker</p>
          </td>
          <td>
            <a href="https://github.com/snowdrop/spring-boot-blank-booster">Blank</a>
            <p>Blank Spring Boot mission</p>
          </td>
        </tr>
        </tbody>
      </table>
      <hr>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; Red Hat 2017</p>
  </footer>
</div>
{% include scripts.html %}
<script src="{{ "/assets/js/jquery-searchable-1.1.0.min.js" | relative_url }}"></script>
<script>
    $(function () {
        $('#table').searchable({
            striped: true,
            searchType: 'fuzzy',
            selector: 'tbody tr td',
            childSelector: 'a'
        });
    });
</script>
</body>
</html>