<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}
<body>
<div class="container">
  {% include nav-bar.html %}
  {{ content }}
  <hr/>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-12">
      <input type="search" id="search" value="" class="form-control"
             placeholder="Search using Fuzzy searching">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-borderless" id="table">
        <tbody>
        {% include guides_table.html %}
        </tbody>
      </table>
      <hr>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; Red Hat 2017</p>
  </footer>
</div>
{% include scripts.html %}
<script src="{{ "assets/js/jquery-searchable-1.1.0.min.js" | relative_url }}"></script>
<script>
    $(function () {
        $('#table').searchable({
            striped: true,
            searchType: 'fuzzy',
            selector: 'tbody tr td',
            childSelector: 'a'
        });
    });
</script>
</body>
</html>